<div class="tituloContainer">
  <h1 class="titulo">Equipes</h1>
<button class="buttonAdicionar">Adicionar Equipe</button>
</div>

<div class="container">
  <table class="tabela">
    <thead>
      <tr>
        <th>Prefixo</th>
        <th>Funcionários</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>API Prefixo</td>
        <td>
          API Funcionarios 1<br>
          API Funcionarios 2
        </td>
        <td>
          <button class="buttonEditar">Editar</button>
        </td>
        <td>
          <button>Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
