<div class="editar-equipe">
  <div class="editar-equipe__card">
    <h2 class="editar-equipe__titulo">Modificar Equipe</h2>

    <form (ngSubmit)="onSubmitEditar()">
      <label for="prefixo">Prefixo:</label>

      <input
        type="text"
        id="prefixo"
        name="prefixo"
        [(ngModel)]="editarEquipes.prefixo"
        required
      />

      <div class="editar-equipe__botoes">
        <button type="submit" class="btn-salvar">Salvar</button>

        <button
          [routerLink]="['/equipes']"
          type="button"
          class="btn-cancelar">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
