* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #000;
}

body {
    height: 100vh;
    background-color: #0f1b2b; /* fundo escuro */
    display: flex;
    align-items: center;
    justify-content: center;
}