.container {
  background-color: #18283d;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 178, 255, 0.2);
}

.img {
  text-align: center;
  margin-bottom: 2px;
}

.img img {
  max-width: 250px;
  height: auto;
}

.container-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #1d2c41;
  padding: 20px;
  border-radius: 8px;
}

.formulario-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario-login label {
  font-weight: bold;
  color: #00b2ff;
}

.formulario-login input {
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 6px;
  background-color: #0f1b2b;
  color: #fff;
}

.formulario-login input:focus {
  border-color: #00b2ff;
  outline: none;
  background-color: #152234;
}

.container-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button {
  width: 100%;
  max-width: 150px;
  height: 40px;
  background-color: #00b2ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 178, 255, 0.2);
}

.button:hover {
  background-color: #0090cc;
  transform: scale(1.05);
}
/*TELA DE PC*/
@media (min-width: 768px) {
 
.container {
    display: flex;
    background-color: #18283d;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 178, 255, 0.2);
    overflow: hidden;
    max-width: 850px;
    width: 100%;
    color: #ffffff;
}

.img {
    flex: 1;
    background-color: #0f1b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.img img {
    max-width: 100%;
    height: auto;
}

.container-login {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1d2c41;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario-login label {
    font-weight: bold;
    color: #00b2ff;
}

.formulario-login input {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 6px;
    background-color: #0f1b2b;
    color: #fff;
}

.formulario-login input:focus {
    border: 1px solid #00b2ff;
    outline: none;
    background-color: #152234;
}
.button {
    width: 120px;
    height: 40px;
    background-color: #00b2ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 178, 255, 0.2);
}

.button:hover {
    background-color: #0090cc;
    transform: scale(1.05);
}   
.container-button {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
}
}