<header class="cabecalho">
<div class="container">
  <div class="logo">
    <img src="images/SIG-icon.png" alt="Logo Sistema Integrado de Gestão">
    <h1>SIG - Sistema<br> Integrado de Gestão</h1>
  </div>
  <div class="menu">
    <nav>
      <ul>
        <li><a>Home</a></li>
        <li><a routerLink="/equipes">Equipes</a></li>
        <li><a routerLink="/funcionarios">Funcionários</a></li>
        <li><a routerLink="/materias">Materias</a></li>
        <li><a routerLink="/requisicoes">Requisições</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <button>Sair</button>
  </div>
</div>
</header>
