<div class="tituloContainer">
  <h1 class="titulo">Equipes</h1>
  <button [routerLink]="['/cadastrar-equipe']" class="buttonAdicionar">Adicionar Equipe</button>
</div>

<div class="container">
  <table class="tabela">
    <thead>
      <tr>
        <th>Prefixo <input type="search" class="inputPesquisa" placeholder="Buscar..."  (input)="ProcurarTexto($event)"></th>

        <th>Funcionários <input type="search" class="inputPesquisa" placeholder="Buscar..."></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Dados vindos da API -->
      @for (equipe of equipes; track equipe.id) {

      <tr>
        <td>{{ equipe.prefixo }}</td>

        <!-- Campo ainda não implementado -->
        <td>
          <!-- Exemplo estático -->
          Funcionário 1<br> Funcionário 2
        </td>

        <td>
          <button [routerLink]="['/editar-equipes', equipe.id]" class="buttonEditar">Editar</button>
        </td>

        <td>
          <button (click)="deletar(equipe.id)">Excluir</button>
        </td>
      </tr>
      }

      <!-- Caso não exista nenhuma equipe -->
      @if (equipes.length === 0) {
      <tr>
        <td colspan="4" style="text-align: center;">
          Nenhuma equipe encontrada
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>


