<div class="tituloContainer">
  <h1 class="titulo">Funcionários</h1>
  <button class="buttonAdicionar">Adicionar Funcionário</button>
</div>

<div class="container">
  <table class="tabela">
    <thead>
      <tr>
        <th>
          Nome
          <input type="search" class="inputPesquisa" placeholder="Buscar..." (input)="pesquisarPorNome($event)">
        </th>

        <th>
          Matrícula
          <input type="search" class="inputPesquisa" placeholder="Buscar..." (input)="pesquisarPorMatricula($event)">
        </th>

        <th>
          Data de Criação
          <input type="search" class="inputPesquisa" placeholder="Buscar..." [(ngModel)]="dataPesquisa"
            (input)="pesquisarPorData()">
        </th>

        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (funcionario of funcionariosFiltrados; track funcionario.id) {
      <tr>
        <td>{{ funcionario.nome }}</td>
        <td class="text-center">{{ funcionario.matricula }}</td>
        <td class="text-center">
          {{ funcionario.dataCriacao | date:'dd/MM/yyyy HH:mm:ss' }}
        </td>

        <td>
          <button class="buttonEditar">Editar</button>
        </td>

        <td>
          <button>Excluir</button>
        </td>
      </tr>
      }

      @if (funcionariosFiltrados.length === 0) {
      <tr>
        <td colspan="5" style="text-align: center;">
          Nenhum funcionário encontrado
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
